<html><head><meta name="description" content="Like a boss. Like a boss. Like a boss. Like a boss. Like a boss. Like a boss. Like a boss. Like a boss. ">
<title>Ross Ingram</title> 
<link rel="shortcut icon" href="../static/images/icon.png" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="../static/css/global.css" />
<link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
</head><body>
<p class="name">Ross Ingram</p>
Press<br />
<p class="press">
	New York Observer - <a href="" target="_blank">Startup Marketing Strategy: President Obama</a><br />
	Rackspace - <a href="" target="_blank">One Startup's Encounter With Neil Patrick Harris</a><br />
	Brad Feld - <a href="" target="_blank">Getting President Obama To Play With Your Product</a><br />
	HTC - <a href="" target="_blank">App Spotlight: Orbotix and HTC</a><br />
	CNET - <a href="" target="_blank">Wear your iPad as a wristwatch?</a><br />
	Paul Berberian - <a href="" target="_blank">One Big Goal</a><br />
</p><br />Connect<br />
<p class="links">
	twitter | <a href="http://twitter.com/rossingram" target="_blank">follow</a> <br />
	foursquare | <a href="https://foursquare.com/rossingram?ref=nf" target="_blank">locate</a> <br />
    facebook | <a href="https://www.facebook.com/ross.ingram" target="_blank">friend</a> <br />
    linkedin | <a href="http://www.linkedin.com/in/rossingram" target="_blank">connect</a> <br />
    github | <a href="http://www.github.com/rossingram" target="_blank">code</a> <br />
</p>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16779850-13']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body></html> 
