<html>
    <head>
    <meta name="Ross Ingram" content="This Shit Is Bananas" http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <title>Ross Ingram</title> 
    <link rel="stylesheet" type="text/css" href="css/global.css" /> 
  </head> 
  <body> 
    <table width="238" border="0" cellspacing="0" cellpadding="10"> 
      <td width="218" height="460" align="right" valign="top"><span class="name">Ross Ingram</span>
        <p class="links">
                <!--blog | <a href="http://rossingram.wordpress.com" target="_blank">browse</a> <br />!--> 
                    twitter | <a href="http://twitter.com/rossingram" target="_blank">follow</a> <br />
                        foursquare | <a href="https://foursquare.com/rossingram?ref=nf" target="_blank">locate</a> <br />
                            facebook | <a href="https://www.facebook.com/ross.ingram" target="_blank">friend</a> <br />
                                linkedin | <a href="http://www.linkedin.com/in/rossingram" target="_blank">connect</a> <br />
                                </p>
                              </td>
                            </tr> 
                          </table> 
                        </body> 
 </html> 
