body { 
  margin: 20px 20px;
  background:url(../images/rossbk2.gif) left top no-repeat #fff;
/*  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
 background-size: cover;*/
} 
a {
	text-decoration:none; 
	color:#ff424f;
} 
a:hover {
	color:#83060f;
} 
.links {
	font-size: 14px;
	color: #666666;
	margin:0px 0px 20px 0px; 
	padding:0px;
}
.name {
	font-size: 45px;
	font-family: 'Nothing You Could Do', cursive;
	}
.press {
	font-size: 14px;
	color: #666666;
	margin:0px 0px 20px 0px; 
}
.head {
	font-size: 20px;
}
